<% content_for :title do %>Build Health<% end %>
<h1>Jenkins Build Monitor - <%= (File.basename(__FILE__, File.extname(__FILE__))).to_s.camelize %> Project</h1>
<div class="gridster">
  <ul>
    <%
      if (Builds.get.count > 4) then
        num_cols = 6
        widget_size = 1
      else
        num_cols = 2
        widget_size = 2
      end
    %>
    <% Builds.get.select { |job|job['project'] == File.basename(__FILE__, File.extname(__FILE__)) }.each_with_index do |job,index| %>
      <% build_num = index + 1 %>
      <li data-row="<%= build_num % num_cols == 0 ? build_num / num_cols : build_num / num_cols + 1 %>"
        data-col="<%= build_num % num_cols == 0 ? num_cols : build_num % num_cols %>"
        data-sizex="<%= widget_size %>" data-sizey="1">
        <div data-id="<%= job['id'] %>" data-server="<%= job['project'] %>"
          data-view="BuildWindow"></div>
      </li>
    <% end %>
  </ul>
</div>
